html {
   background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(photo.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   background-size: cover;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #fff;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}
a {
   background-position: 0 1.375rem;
   background-size: 1px 1px;
   color: #fff;
   background-image: linear-gradient(#fff 50%, #fff 50%);
   background-repeat: repeat-x;
}
a:hover {
  color: rgba(255,255,255,0.8);
  background-image: linear-gradient(#fff 50%, rgba(255,255,255,0.8) 50%);
}
h1 {
  text-align: left;
  font-size: 44px;
  font-weight: 700;
}
.area {
  max-width: 500px;
  margin: 100px auto 0 auto;
}
.text, ul {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}
ul {
   list-style: circle outside none;
   margin-top: -8px;
}
li {
   padding-top: 2px;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
