body {
   background-color: #f3f2f1;
   background-image: url(images/background.png);
   background-size: 200px 200px;
   font-family: "Lucida Grande", sans-serif;
   margin: 0;
}
main {
   border-bottom: 1px solid #cecece;
   margin: 30px auto 0 auto;
   max-width: 840px;
   padding-bottom: 41px;

}
section {
   background-color: #fff;
   border: 1px solid #c7c7c7;
   border-radius: 8px;
   box-shadow: 0 2px 8px rgba(0,0,0,0.3);
   color: #000;
   padding: 30px;
}
main p {
   font-size: 20px;
   margin: 0;
   padding-top: 12px;
   width: 700px;
   padding-bottom: 20px;
}
.product-info {
   float: right;
   display: inline;
}
.product-text {
   width: 400px;
   margin-right: 100px;
}
.buttons {
   float: right;
   display: inline;
}
img {
   margin: 0 20px 20px 20px;
}
h1 {
   margin: 0;
}
a {
   text-decoration: none;
   color: #00f;
   font-size: 20px;
   border: 1px solid #00f;
   border-radius: 5px;
   padding: 4px 9px 4px 9px;
}
button {
   background-color: #00f;
   border: none;
   color: #fff;
   font-size: 20px;
   border-radius: 5px;
   padding: 5px 9px 5px 9px;
   cursor: pointer;
}



footer {
   border-top: 1px solid #fafafa;
   margin: 0 auto;
   width: 660px;
}
footer p {
   color: #9d989d;
   font-size: 12px;
   margin: 0 auto;
   padding-top: 20px;
   text-shadow: 0 1px 0 #fff;
   text-align: center;
}
